{% extends "base.html" %}

{% block page_title %}
  {{movie.title}}
{% endblock page_title %}

{% block content %}

<div class="flex flex-col items-center bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h2 class="font-bold">{{movie.title}}</h2>
  <div class="flex items-center my-2">
    <div class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{movie.year}}</div>
    <div class="bg-orange-400 text-white px-3 shadow-md py-1 rounded-full mx-4">{{movie.category}}</div>
  </div>
  <div class="my-2">Director:
    <div class="inline-block bg-white shadow-md rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{movie.director}}</div>
  </div>
  <div class="my-2">Cast: {% for i in movie.cast.all %} 
    <div class="inline-block bg-white shadow-md rounded-full px-3 py-1 text-sm font-semibold text-gray-700">{{i}}</div> {% endfor %}
  </div>
  <div class="flex">
    <a class="bg-blue-400 hover:bg-blue-600 text-white font-bold mt-4 py-2 px-4 rounded" href="{% url 'movies:update' movie.pk %}">Edit Movie</a>
    {% if user.is_authenticated %}
      {% include "mixins/fav_button.html" with obj=movie kind='movie' %}
    {% endif %}
  </div>
  <div class="mt-10 w-1/2">
    <h4 class="font-medium text-2xl mb-2 text-center  text-gray-700">Reviews</h4>
    <div class="flex items-center justify-center">
        <div class="flex items-center">
            <i class="fas fa-star text-yellow-500"></i>
            <span class="font-bold text-xl ml-2">{{movie.rating}}</span>
        </div>
        <div class="h-4 w-px bg-gray-400 mx-5"></div>
        <div>
            <span class="font-bold text-xl mr-1">{{movie.reviews.count}}</span>
            <span>review{{movie.reviews.count|pluralize}}</span>
        </div>
    </div>
    <div class="mt-10">
      {% for review in movie.reviews.all  %}
      <div class="border-section">
          <div class="mb-3 flex">
            <div class="flex flex-col mr-3 flex-0">
                <span class="font-medium">{{review.created_by.username}}</span>
                <span class="text-sm text-gray-500">{{review.created_at|date:'m/d'}}</span>
            </div>
            <div class="text-gray-700 mr-5 flex-0"><i class="fas fa-star text-yellow-500 text-xs mr-1"></i>{{review.rating}}</div>
            <div class="flex-1">
              <p>{{review.text}}</p>
              {% if review.created_by == user %}
              <a class="bg-red-400 hover:bg-red-600 text-white font-semibold text-sm py-1 px-2 rounded" href="{% url 'reviews:delete' review.pk %}">Delete</a>
              {% endif %}
            </div>
          </div>
      </div>
      {% endfor %}    
    </div>
  </div>
  <div class="py-10">
    {% if user.is_authenticated %}
    <form action="{% url 'reviews:create' movie.pk %}?kind=movie" method="POST" mx-auto">
        {% csrf_token %}
        {% for field in form %}
          <div class="mb-3">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{field.auto_id}}">{{field.label}}</label>
            <div class="shadow appearance-none border rounded w-full text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
              {{field}}
            </div>
          </div>
        {% endfor %}
        <button class="btn-link bg-orange-400 hover:bg-orange-600 text-white font-bold w-full py-2 px-4 rounded">Submit Review</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock content %}